# Archivos de base de datos local
db/*.sqlite

# Logs y caches
*.log
*.cache

# Configuración local
.env
*.env

# Dependencias (Composer)
vendor/

# Archivos de sistema de Windows
Thumbs.db
.DS_Store

.sublime-project
.sublime-workspace
